@page "/participant-votes/{participantId}"
@model ConventionGradingSystem.Host.Pages.ParticipantVotesPageModel

@{
    ViewData["Title"] = "Голоса участников";
    ViewData["AllowNavigation"] = true;
}

<table>

    <caption>Голоса участников за "@Model.ViewModel.ParticipantName" в зрительском голосовании "@Model.ViewModel.VotingName"</caption>

    <tr>
        <th>#</th>
        <th>Имя участника</th>
        <th>Отряд участника</th>
        <th>Комментарий</th>
    </tr>

    @for (var number = 0; number < Model.ViewModel.Votes.Count; number++)
    {
        <tr>
            <td>@(number + 1)</td>
            <td>@Model.ViewModel.Votes[number].ParticipantName</td>
            <td>@Model.ViewModel.Votes[number].ParticipantBrigade</td>
            <td>@Model.ViewModel.Votes[number].Note</td>
        </tr>
    }

</table>
