@page "/voting-participants/{votingId}"
@model ConventionGradingSystem.Host.Pages.VotingParticipantsPageModel

@{
    ViewData["Title"] = "Список участников голосования";
    ViewData["AllowNavigation"] = true;
}

<table>

    <caption>Участники голосования "@Model.ViewModel.VotingName"</caption>

    <tr>
        <th>#</th>
        <th>Название/имя участника</th>
        <th>Связанные отряды</th>
        <th>Количество голосов</th>
        <th>Ссылка</th>
    </tr>

    @for (var number = 0; number < Model.ViewModel.Participants.Count; number++)
    {
        <tr>
            <td>@(number + 1)</td>
            <td>@Model.ViewModel.Participants[number].Name</td>

            <td>
                @foreach (var item in Model.ViewModel.Participants[number].Brigades)
                {
                    @item<br/>
                }
            </td>

            <td>@Model.ViewModel.Participants[number].VotesQuantity</td>
            <td>
                <a class="table" href="/participant-votes/@Model.ViewModel.Participants[number].Identifier">Голоса участников</a>
            </td>

        </tr>
    }

</table>
