@page "/contest-events/{contestId}"
@model ConventionGradingSystem.Pages.ContestEventsPageModel

@{
    ViewData["Title"] = "Список мероприятий";
    ViewData["AllowNavigation"] = true;
}

<table>

    <caption>Мероприятия конкурса "@Model.ViewModel.ContestName"</caption>

    <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Название мероприятия</th>

        @if (Model.ViewModel.ExpertCriterions.Count > 0)
        {
            <th colspan="@(Model.ViewModel.ExpertCriterions.Count + 2)">Оценки экспертов</th>
        }
        @if (Model.ViewModel.ParticipantCriterions.Count > 0)
        {
            <th colspan="@(Model.ViewModel.ParticipantCriterions.Count + 2)">Оценки участников</th>
        }

        <th rowspan="2">Общая оценка</th>
        <th rowspan="2">Ссылки</th>
    </tr>

    <tr>

        @for (var number = 0; number < Model.ViewModel.ExpertCriterions.Count; number++)
        {
            <th class="tooltip">
                @(number + 1)
                <span class="tooltiptext">@Model.ViewModel.ExpertCriterions[number].Name</span>
            </th>
        }

        @if (Model.ViewModel.ExpertCriterions.Count > 0)
        {
            <th>Кол.</th>
            <th>Общая</th>
        }

        @for (var number = 0; number < Model.ViewModel.ParticipantCriterions.Count; number++)
        {
            <th class="tooltip">
                @(number + 1)
                <span class="tooltiptext">@Model.ViewModel.ExpertCriterions[number].Name</span>
            </th>
        }

        @if (Model.ViewModel.ParticipantCriterions.Count > 0)
        {
            <th>Кол.</th>
            <th>Общая</th>
        }

    </tr>

    @for (var number = 0; number < Model.ViewModel.Events.Count; number++)
    {
        <tr>
            <td>@(number + 1)</td>
            <td>@Model.ViewModel.Events[number].Name</td>

            @foreach (var gradeItem in Model.ViewModel.ExpertCriterions)
            {
                <td>@Model.ViewModel.Events[number].ExpertGrades[gradeItem.Identifier].ToString("0.0")</td>
            }
            @if (Model.ViewModel.ExpertCriterions.Count > 0)
            {
                <td>@Model.ViewModel.Events[number].ExprertFeedbacksQuantity</td>
                <td>@Model.ViewModel.Events[number].TotalExpertGrade.ToString("0.00")</td>
            }

            @foreach (var gradeItem in Model.ViewModel.ParticipantCriterions)
            {
                <td>@Model.ViewModel.Events[number].ParticipantGrades[gradeItem.Identifier].ToString("0.0")</td>
            }
            @if (Model.ViewModel.ParticipantCriterions.Count > 0)
            {
                <td>@Model.ViewModel.Events[number].ParticipantFeedbacksQuantity</td>
                <td>@Model.ViewModel.Events[number].TotalParticipantGrade.ToString("0.00")</td>
            }

            <td>@Model.ViewModel.Events[number].TotalGrade.ToString("0.00")</td>

            <td>
                @if (Model.ViewModel.Events[number].WithParticipants)
                {
					<a class="table" href="/event-attendance/@Model.ViewModel.Events[number].Identifier">Форма проводящего</a>
                }
                @if (Model.ViewModel.ExpertCriterions.Count > 0)
                {
                    <a class="table" href="/expert-feedback/@Model.ViewModel.Events[number].Identifier">Форма эксперта</a>
                    <a class="table" href="/expert-feedbacks/@Model.ViewModel.Events[number].Identifier">Оценки экспертов</a>
                }
                @if (Model.ViewModel.ParticipantCriterions.Count > 0)
                {
					<a class="table" href="/participant-feedback/@Model.ViewModel.Events[number].Identifier">Форма участника</a>
					<a class="table" href="/participant-feedbacks/@Model.ViewModel.Events[number].Identifier">Оценки участников</a>
                }
            </td>

        </tr>
    }

</table> 
