@page "{contestId}"
@model ConventionGradingSystem.Pages.EventsListModel

@{
    ViewData["Title"] = "Список мероприятий";
    ViewData["AllowNavigation"] = true;
}

<table>

    <caption>Мероприятия конкурса "@Model.ViewModel.ContestName"</caption>

    <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Название мероприятия</th>

		@if (Model.ViewModel.ExpertCriterions.Count > 0)
        {
			<th colspan="@(Model.ViewModel.ExpertCriterions.Count + 2)">Оценки экспертов</th>
        }
		@if (Model.ViewModel.ParticipantCriterions.Count > 0)
        {
			<th colspan="@(Model.ViewModel.ParticipantCriterions.Count + 2)">Оценки участников</th>
        }

        <th rowspan="2">Общая оценка</th>
        <th rowspan="2">Ссылки</th>
    </tr>

    <tr>

		@foreach (var item in Model.ViewModel.ExpertCriterions)
        {
            <th class="tooltip">
                @item.Identifier
                <span class="tooltiptext">@item.Name</span>
            </th>
        }

		@if (Model.ViewModel.ExpertCriterions.Count > 0)
        {
            <th>Кол.</th>
            <th>Общая</th>
        }

		@foreach (var item in Model.ViewModel.ParticipantCriterions)
        {
            <th class="tooltip">
                @item.Identifier
                <span class="tooltiptext">@item.Name</span>
            </th>
        }

		@if (Model.ViewModel.ParticipantCriterions.Count > 0)
        {
            <th>Кол.</th>
            <th>Общая</th>
        }

    </tr>

	@foreach (var eventItem in Model.ViewModel.Events)
    {
        <tr>
            <td>@eventItem.Identifier</td>
            <td>@eventItem.Name</td>

			@foreach (var gradeItem in Model.ViewModel.ExpertCriterions)
            {
                <td>@eventItem.ExpertGrades[gradeItem.Identifier].ToString("0.0")</td>
            }
			@if (Model.ViewModel.ExpertCriterions.Count > 0)
            {
                <td>@eventItem.ExprertGradesQuantity</td>
                <td>@eventItem.TotalExpertGrade.ToString("0.00")</td>
            }

			@foreach (var gradeItem in Model.ViewModel.ParticipantCriterions)
            {
                <td>@eventItem.ParticipantGrades[gradeItem.Identifier].ToString("0.0")</td>
            }
			@if (Model.ViewModel.ParticipantCriterions.Count > 0)
            {
                <td>@eventItem.ParticipantGradesQuantity</td>
                <td>@eventItem.TotalParticipantGrade.ToString("0.00")</td>
            }

            <td>@eventItem.TotalGrade.ToString("0.00")</td>

            <td>
                @if (eventItem.WithParticipants)
                {
					<a class="table" href="/EventParticipants/@Model.ViewModel.ContestId/@eventItem.Identifier">Форма проводящего</a>
                }
				@if (Model.ViewModel.ExpertCriterions.Count > 0)
                {
					<a class="table" href="/ExpertGrade/@Model.ViewModel.ContestId/@eventItem.Identifier">Форма эксперта</a>
					<a class="table" href="/ExpertNotes/@Model.ViewModel.ContestId/@eventItem.Identifier">Комментарии экспертов</a>
                }
				@if (Model.ViewModel.ParticipantCriterions.Count > 0)
                {
					<a class="table" href="/ParticipantGrade/@Model.ViewModel.ContestId/@eventItem.Identifier">Форма участника</a>
					<a class="table" href="/ParticipantNotes/@Model.ViewModel.ContestId/@eventItem.Identifier">Комментарии участников</a>
                }
            </td>

        </tr>
    }

</table> 
