@page "{contestId}/{eventId}"
@model ConventionGradingSystem.Pages.EventParticipantsModel

@{
    ViewData["Title"] = "Список участников мероприятия";
    ViewData["AllowNavigation"] = true;
}

<label class="name">Приветствуем тебя, проводящий! Оцени, пожалуйста, участников мероприятия, которое провёл</label>
<label class="description">Название конкурса: @Model.ViewModel.ContestName</label>
<label class="description">Название мероприятия: @Model.ViewModel.EventName</label>

<form method="post">

    <table>

        <tr>
            <th>Имя участника</th>
            <th>Отряд</th>
            <th>Команда</th>
            <th>Отметка об участии</th>
            <th>Особая отметка</th>
        </tr>

        @foreach (var item in Model.ViewModel.Participants)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Brigade</td>
                <td>@item.Team</td>
                <td>
                    @if (item.ParticipitionMark)
                    {
                        <input type="checkbox"
                               id="FormModel.ParticipationMarks"
                               name="FormModel.ParticipationMarks"
                               value="@item.Identifier"
                               checked />
                    }
                    else
                    {
                        <input type="checkbox"
                               id="FormModel.ParticipationMarks"
                               name="FormModel.ParticipationMarks"
                               value="@item.Identifier" />
                    }
                </td>
                <td>
                    @if (item.SpecialMark)
                    {
                        <input type="checkbox"
                               id="FormModel.SpecialMarks"
                               name="FormModel.SpecialMarks"
                               value="@item.Identifier"
                               checked />
                    }
                    else
                    {
                        <input type="checkbox"
                               id="FormModel.SpecialMarks"
                               name="FormModel.SpecialMarks"
                               value="@item.Identifier" />
                    }
                </td>
            </tr>
        }

    </table>

    <input type="submit" value="Обновить данные" />

</form>
