@page "{eventTypeId}/{eventId}"
@model ConventionGradingSystem.Pages.ExpertGradeModel
@using ConventionGradingSystem.Models.ExpertGrade

@{
    ViewData["Title"] = "Оценка мероприятия экспертом";
    ViewData["AllowNavigation"] = false;
}

@switch (Model.FormState)
{
	case FormState.NotExisted:
        <label class="name">Приветствуем тебя, эксперт! Извини, но такого мероприятия не существует</label>
        break;

	case FormState.NotGraded:

        <label class="name">Приветствуем тебя, эксперт! Оцени, пожалуйста, мероприятие, в котором принял участие</label>
        <label class="description">Категория мероприятия: @Model.ViewModel.EventTypeName</label>
        <label class="description">Название мероприятия: @Model.ViewModel.EventName</label>

        <form method="post">
            @for (var number = 0; number < Model.ViewModel.GradeTypes.Count; number++)
            {
                <div class="grade">
                    <label class="name" for="FormModel.Grades[@number].GradeValue">@Model.ViewModel.GradeTypes[number].Name</label>
					<label class="description" for="FormModel.Grades[@number].GradeValue">@Model.ViewModel.GradeTypes[number].Description</label>

                    <input type="hidden"
						   id="FormModel.Grades[@number].GradeTypeId"
						   name="FormModel.Grades[@number].GradeTypeId"
                           value="@Model.ViewModel.GradeTypes[number].Identifier" />

                    <input type="range"
						   id="FormModel.Grades[@number].GradeValue"
						   name="FormModel.Grades[@number].GradeValue"
                           min="@Model.ViewModel.GradeTypes[number].MinimalGrage"
                           max="@Model.ViewModel.GradeTypes[number].MaximalGrage"
                           value="@Model.ViewModel.GradeTypes[number].MaximalGrage"
                           oninput="this.nextElementSibling.value = this.value"/>

					<output for="FormModel.Grades[@number].GradeValue">@Model.ViewModel.GradeTypes[number].MaximalGrage</output>
                </div>
            }

            <div class="grade">
				<label class="name" for="FormModel.Note">Дополнительный комментарий</label>
				<label class="description" for="FormModel.Note">Можешь оставить произвольный дополнительный комментарий, если хочешь сообщить что-то организаторам слёт или данного мероприятия</label>
				<textarea id="FormModel.Note" name="FormModel.Note"></textarea>
            </div>

            <input type="submit" value="Отправить оценки" />
        </form>

        break;

	case FormState.JustGraded:
        <label class="name">Твоя оценка принята! Большое спасибо за помощь</label>
        break;

	case FormState.PreviouslyGraded:
        <label class="name">Приветствуем тебя, эксперт! Ты уже оценивал данное мероприятие. Большое спасибо за помощь</label>
        break;
 }
