@page "/"
@model ConventionGradingSystem.Pages.MainPageModel

@{
    ViewData["Title"] = "Главная страница";
    ViewData["AllowNavigation"] = true;
}

<table>

    <caption>Конкурсы мероприятий</caption>

    <tr>
        <th>#</th>
        <th>Название конкурса</th>
        <th>Количество мероприятий</th>
        <th>Ссылка на страницу конкурса</th>
    </tr>

    @for (var number = 0; number < Model.ViewModel.Contests.Count; number++)
    {
        <tr>
            <td>@(number + 1)</td>
            <td>@Model.ViewModel.Contests[number].Name</td>
            <td>@Model.ViewModel.Contests[number].EventsQuantity</td>
            <td>
                <a class="table" href="/contest-events/@Model.ViewModel.Contests[number].Identifier">Ссылка</a>
            </td>
        </tr>
    }

</table>

<table>

    <caption>Список команд</caption>

    <tr>
        <th>#</th>
        <th>Название команды</th>
        <th>Количество участников</th>
        <th>Регистрации на мероприятия</th>
        <th>Отметки об участии</th>
        <th>Отметки о пропуске</th>
        <th>Особые отметки</th>
    </tr>

    @for (var number = 0; number < Model.ViewModel.Teams.Count; number++)
    {
        <tr>
            <td>@(number + 1)</td>
            <td>@Model.ViewModel.Teams[number].Name</td>
            <td>@Model.ViewModel.Teams[number].MembersQuantity</td>
            <td>@Model.ViewModel.Teams[number].RegistrationsQuantity</td>
            <td>@Model.ViewModel.Teams[number].AttendanceMarksQuantity</td>
            <td>@(Model.ViewModel.Teams[number].RegistrationsQuantity - Model.ViewModel.Teams[number].AttendanceMarksQuantity)</td>
            <td>@Model.ViewModel.Teams[number].SpecialMarksQuantity</td>
        </tr>
    }

</table>
